:root {
	--chosen-color: white;
}

* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: Verdana;
	margin: 15px;
}

h1 {
	margin-bottom: 15px;
}

h2 {
	margin-bottom: 15px;
}

p {
	margin-bottom: 15px;
}

hr {
	margin: 15px 0px;
}

#color-buttons button {
	margin-bottom: 20px;
	height: 100px;
	width: 100px;
	font-size: 13px;
	border: 1px solid #888;
}

	#color-button-1 {
		background-color: red;
	}

	#color-button-2 {
		background-color: green;
	}

	#color-button-3 {
		background-color: blue;
	}

	#color-button-4 {
		background-color: pink;
	}

#chosen-color-instance-1 {
	height: 200px;
	width: 200px;
	border: 1px solid #888;
	background-color: var(--chosen-color);
	margin-bottom: 20px;
}

#chosen-color-instance-2 {
	height: 100px;
	width: 100px;
	border: 1px solid #888;
	background-color: var(--chosen-color);
}

